beautifulsoup4==4.3.2
Flask==0.10.1
Flask-SQLAlchemy==2.0
gunicorn==18.0
itsdangerous==0.23
Jinja2==2.7.2
MarkupSafe==0.19
parsedatetime==1.4
psycopg2==2.5.4
requests==2.2.1
SQLAlchemy==0.9.8
upsidedown==0.3
Werkzeug==0.9.4
wsgiref==0.1.2